<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开药</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/a3common.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/font_43459_lbtux0zjkr6yldi.css">
    <script src="../js/vue.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <script src="../plugins/elementui/index.js"></script>
    <!--导入axios二次封装的工具-->
    <script src="../js/request.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <el-form :inline="true" :model="queryDto" align="center" class="demo-form-inline">
            <el-form-item label="药品名">
                <el-input v-model="queryDto.name" placeholder="请输入药品名"></el-input>
            </el-form-item>
            <el-form-item label="类型">
                <el-select v-model="queryDto.gender" clearable placeholder="--请选择--">
                    <!--:value 绑定的是数字 value="" 则是字符串-->
                    <el-option label="处方药" value= "RX"></el-option>
                    <el-option label="非处方药" value= "OTC"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="queryPage">查询</el-button>
               <!-- <el-button type="primary" @click="showAddDialog">添加</el-button>-->
            </el-form-item>
        </el-form>
        <h2>药品库</h2>
        <el-table :data="drugs" style="width: 100%">
            <el-table-column prop="name" label="药品名称"></el-table-column>
            <el-table-column prop="content" label="描述"></el-table-column>
            <el-table-column prop="image" label="药品图片"></el-table-column>
            <el-table-column prop="type" label="药品类型"></el-table-column>
            <el-table-column prop="price" label="药品单价"></el-table-column>
            <el-table-column prop="quantity" label="选购数量" width="140">
                <template slot-scope="scope">
                    <el-input-number v-model="scope.row.quantity"
                                     :min="0" :max="scope.row.stock"
                                     size="mini"
                                     @change="updateQuantity(scope.$index, scope.row)">
                    </el-input-number>
                </template>
            </el-table-column>
            <el-table-column prop="stock" label="剩余数量"></el-table-column>
            <el-table-column prop="total" label="金额"></el-table-column>
        </el-table>
        <div class="text-right">
            总价: {{ totalPrice }} 元
        </div>
        <el-button type="primary" @click="confirmSelection">确认选择</el-button>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                drugName: '', // 药品名称输入框的值
                selectDrugs:[],  //选够的药品信息
                queryDto:{},
                drugs: [
                    { name: '药品1', content:'描述1', image: 'image1.jpg', type:'RX', price: 100, quantity: 0, stock: 10, total:0 },
                    { name: '药品2', content:'描述2', image: 'image2.jpg', type:'OTC', price: 200, quantity: 0, stock: 20, total: 0},
                ], // 购物车中的药品列表
                totalPrice: 0 // 选购药品的总价
            }
        },
        methods: {

            queryPage() {
                // 在这里编写搜索药品的逻辑代码
            },

            updateQuantity(index, row) {
                // 更新选购数量后重新计算总价

                this.drugs[index].quantity = row.quantity;
                this.calculatePrice(index);
                this.calculateTotalPrice();

                this.selectDrugs.push(row);

            },
            calculatePrice(index) {
               let drug = this.drugs[index];
               this.drugs[index].total = drug.price * drug.quantity;
            },
            calculateTotalPrice() {
                let totalPrice = 0;
                this.drugs.forEach(item => {
                    totalPrice += item.total;
                });
                this.totalPrice = totalPrice;
            },
            confirmSelection() {
                request({
                    method:"post",
                    url:"",
                    data:this.selectDrugs
                }).then(resp=>{
                    this.$message({
                        message: resp.data.message,
                        type: "success"
                    });
                }).catch(date=>{
                    console.log('请求错误：', data)
                })
                // 在这里编写确认选择的逻辑代码
                console.log('确认选购！总价: ' + this.totalPrice + ' 元');
            }
        }
    });
</script>
</html>