<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>健康信息管理</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/a3common.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/font_43459_lbtux0zjkr6yldi.css">
    <script src="../js/vue.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <script src="../plugins/elementui/index.js"></script>
    <!--导入axios二次封装的工具-->
    <script src="../js/request.js"></script>
</head>
<body>
<div id="app">
    <p></p>
    <!--头部条件查询表单-->
    <el-form :inline="true" :model="queryDto" align="center" class="demo-form-inline">
        <el-form-item>
            <el-button type="primary" style="background-color: #d73232; width: 100px" icon="el-icon-delete"
                       @click="deleteSelected">删除所选
            </el-button>
        </el-form-item>
        <el-form-item label="姓名">
            <el-input v-model="queryDto.name" placeholder="请输入老人姓名"></el-input>
        </el-form-item>
        <el-form-item label="账号">
            <el-input v-model="queryDto.username" placeholder="请输入老人账号"></el-input>
        </el-form-item>
        <el-form-item label="性别">
            <el-select v-model="queryDto.gender" clearable placeholder="--请选择--">
                <!--:value 绑定的是数字 value="" 则是字符串-->
                <el-option label="男" :value= 1></el-option>
                <el-option label="女" :value= 0></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="queryPage">查询</el-button>
            <el-button type="primary" @click="showAddDialog">添加</el-button>
        </el-form-item>
    </el-form>
    <!--表格内容-->
    <el-table
            ref="multipleTable"
            border
            :data="olders"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange">
        <!--展开行-->
        <el-table-column type="expand">
            <template slot-scope="props">
                <!--<el-form label-position="left" inline>-->
                <el-form label-position="left" >
                    <el-form-item label="老人姓名">
                        <span>{{ props.row.name }}</span>
                    </el-form-item>
                    <el-form-item label="年龄">
                        <span>{{ props.row.age }}</span>
                    </el-form-item>
                    <el-form-item label="性别">
                        <span>{{ props.row.gender === 1 ? "男":"女" }}</span>
                    </el-form-item>
                    <el-form-item label="bmi指数">
                        <span>{{ props.row.bmi }}</span>
                    </el-form-item>
                    <el-form-item label="收缩压(mmHg)">
                        <span>{{ props.row.systolicBloodPressure }}</span>
                    </el-form-item>
                    <el-form-item label="舒张压(mmHg)">
                        <span>{{ props.row.diastolicBloodPressure }}</span>
                    </el-form-item>
                    <el-form-item label="心率(次/分钟)">
                        <span>{{ props.row.heartRate }}</span>
                    </el-form-item>
                    <el-form-item label="空腹血糖(mg/md)">
                        <span>{{ props.row.fastingBloodGlucose }}</span>
                    </el-form-item>
                    <el-form-item label="总胆固醇(mg/md)">
                        <span>{{ props.row.totalCholesterol }}</span>
                    </el-form-item>
                    <el-form-item label="测量日期">
                        <span>{{ props.row.measurementDate }}</span>
                    </el-form-item>
                </el-form>
            </template>
        </el-table-column>


        <!--多选框-->
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>

        <el-table-column
                prop="elderId"
                label="编号"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="username"
                label="用户账户"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="name"
                label="姓名"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="gender"
                label="性别"
                show-overflow-tooltip>
            <!--通过<template slot-scope="scope"> 获取单元格中的数据-->
            <template slot-scope="scope">
                <span v-if="scope.row.gender === 1">男</span>
                <span v-if="scope.row.gender === 0">女</span>
            </template>
        </el-table-column>
        <el-table-column
                prop="age"
                label="年龄"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="idcard"
                label="身份证号"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="height"
                label="身高(m)"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="weight"
                label="体重(kg)"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="showUpdateDialog(scope.$index, scope.row)">编辑
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="deleteById(scope.row.elderId)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--用于添加或者修改的dialog框-->
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" :before-close="closeDialog">
        <el-form :model="older">
            <el-form-item label="姓名" label-width="120px">
                <el-input v-model="older.name" autocomplete="off" ></el-input>
            </el-form-item>
            <el-form-item label="用户账户" label-width="120px">
                <!--不是carTypeId？-->
                <el-select v-model="older.username" placeholder="请选择">
                    <el-option
                            v-for="user in userSelectedVos"
                            :label="user"
                            :value="user"
                            :disabled = "isInput">

                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="性别" label-width="120px">
                <el-select v-model="older.gender" placeholder="请选择">
                    <el-option label="男" :value= 1></el-option>
                    <el-option label="女" :value= 0></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="年龄" label-width="120px">
                <el-input v-model="older.age" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="身份证号" label-width="120px">
                <el-input v-model="older.idcard" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="身高" label-width="120px">
                <el-input v-model="older.height" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="体重" label-width="120px">
                <el-input v-model="older.weight" autocomplete="off" ></el-input>
            </el-form-item>
            <el-form-item label="bmi" label-width="120px">
                <el-input v-model="older.bmi" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="收缩压(mmHg)" label-width="120px">
                <el-input v-model="older.systolicBloodPressure" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="舒张压(mmHg)" label-width="120px">
                <el-input v-model="older.diastolicBloodPressure" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="心率(次/分钟)" label-width="120px">
                <el-input v-model="older.heartRate" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="空腹血糖(mg/md)" label-width="120px">
                <el-input v-model="older.fastingBloodGlucose" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="总胆固醇(mg/md)" label-width="120px">
                <el-input v-model="older.totalCholesterol" autocomplete="off"></el-input>
            </el-form-item>

            <!-- value-format="yyyy-MM-dd" 格式化组件日期的内容-->
            <el-form-item label="检测日期" label-width="120px">
                <el-date-picker
                        v-model="older.measurementDate"
                        type="date"
                        value-format="yyyy-MM-dd"
                        placeholder="选择日期">
                </el-date-picker>
            </el-form-item>
            <!--<el-form-item label="备注" label-width="120px">
                <el-input type="textarea" v-model="car.remarks" autocomplete="off"></el-input>
            </el-form-item>-->
        </el-form>
        <el-button @click="closeDialog">取 消</el-button>
        <el-button type="primary" @click="addOrUpdate">确 定</el-button>
    </el-dialog>

    <!--分页插件-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[3, 5, 10, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total" style="text-align: center">
    </el-pagination>
</div>
</body>
</html>
<script>
    new Vue({
        el: "#app",
        data() {
            return {

                /*弹窗的密码框是否禁用*/
                isInput: true,

                /*用于控制dialog框要不要显示*/
                dialogFormVisible: false,

                /*修改、添加弹窗标题*/
                dialogTitle: "default",

                /*条件查询数据模型*/
                queryDto: {},

                /*用于接收分页查询出来的集合*/
                olders: [],

                /*用于接收批量删除选中的行数据*/
                isSelectedRows: [],

                /*定义一个专门用于存放需要删除的行的id的集合*/
                isSelectedRowIds: [],

                /*老人健康数据*/
                older: {
                    elderId: "",
                    username: "",
                    name:"",
                    gender: "",
                    age:"",
                    idcard:"",
                    height:"",
                    weight:"",
                    bmi:"",
                    systolicBloodPressure:"",
                    diastolicBloodPressure:"",
                    heartRate:"",
                    fastingBloodGlucose:"",
                    totalCholesterol:"",
                    measurementDate:"",
                    createTime:"",
                    updateTime:""
                },

                /*当前的页面*/
                pageNum: 1,
                /*当前的页面大小*/
                pageSize: 3,
                /*总记录数*/
                total: 0,
                roleId: 4,

                userSelectedVos: [], //用户下拉列表数据模型
                accountSelectedVos:[]
            }
        },
        methods: {


            /*多条件分页查询*/
            queryPage() {
                request({
                    method: 'post',
                    url: 'http://localhost:9020/api/elderInfo/page',
                    params: {
                        pageNum: this.pageNum,
                        pageSize: this.pageSize
                    },
                    data: this.queryDto
                }).then(resp => {
                    let result = resp.data;
                    if (result.code === 200) {
                        this.olders = result.data.data;  //PageVo.data
                        this.total = result.data.total;
                    }
                }).catch(data => {
                    console.log('请求错误：', data)
                })
            },

            /*弹出添加的dialog框*/
            showAddDialog() {
                this.isInput = false;
                this.dialogTitle = "添加信息";
                this.dialogFormVisible = true;
            },

            /*显示编辑dialog框的方法  并进行深拷贝*/
            showUpdateDialog(index, row) {
                this.dialogTitle = "修改信息";
                this.isInput = true;
                this.dialogFormVisible = true;
                this.older = JSON.parse(JSON.stringify(row));
            },

            /*关闭添加或者修改的dialog框 清空表单数据*/
            closeDialog() {
                this.dialogFormVisible = false;
                this.dialogTitle = "";
                this.older = {};
            },

            /*单个查询*/
            queryCarById(id) {
            },

            /*单个删除*/
            deleteById(id) {
                request({
                    method: "delete",
                    url: "http://localhost:9020/api/elderInfo/removeById/" + id,
                }).then(resp => {
                    if (resp.data.code === 200) {
                        this.$message({
                            message: resp.data.message,
                            type: "success"
                        });
                        this.queryPage();
                    } else {
                        this.$message({
                            message: resp.data.message,
                            type: "error"
                        });
                    }
                }).catch(data => {
                    console.log(data);
                })
            },

            /*获取所选行对象*/
            handleSelectionChange(vars) {
                this.isSelectedRows = vars;
            },

            /*批量删除*/
            deleteSelected() {
                /*this.isSelectedRowIds = this.isSelectedRows.map(row => row.id);*/
                this.isSelectedRows.forEach(row => {
                    this.isSelectedRowIds.push(row.elderId);
                });
                request({
                    method: "delete",
                    url: "http://localhost:9020/api/elderInfo/removeByBatch",
                    data: this.isSelectedRowIds
                }).then(resp => {
                    if (resp.data.code === 200) {
                        this.$message({
                            message: resp.data.message,
                            type: "success"
                        });
                        this.queryPage();
                    } else {
                        this.$message({
                            message: resp.data.message,
                            type: "error"
                        });
                    }

                    this.isSelectedRowIds=[];  //结束后进行置空
                    this.isSelectedRows=[];
                }).catch(data => {
                    console.log(data);
                })
            },

            /*添加或者修改的方法*/
            addOrUpdate() {
                if (this.dialogTitle === "修改信息") {
                    request({
                        method: "put",
                        url: "http://localhost:9020/api/elderInfo/modifyInfo",
                        data: this.older
                    }).then(resp => {
                        if (resp.data.code === 200) {
                            this.$message({
                                message: resp.data.message,
                                type: "success"
                            });
                            this.queryPage();
                            this.closeDialog();
                        } else {
                            this.$message({
                                message: resp.data.message,
                                type: "error"
                            });
                        }

                    }).catch(data => {
                        console.log(data);
                    })
                } else {
                    request({
                        method: "post",
                        url: "http://localhost:9020/api/elderInfo/addInfo",
                        data: this.older
                    }).then(resp => {
                        let result = resp.data;
                        if (result.code === 200) {
                            this.$message({
                                message: result.message,
                                type: "success"
                            });
                            this.queryPage();
                            this.closeDialog();
                        } else {
                            this.$message({
                                message: result.message,
                                type: "error"
                            })
                        }

                    }).catch(data => {
                        console.log(data);
                    })
                }
            },

            /*页面大小发生改变触发该方法*/
            handleSizeChange(val) {
                this.pageSize = val;
                this.queryPage();
            },

            /*当前的页码发生改变触发该方法*/
            handleCurrentChange(val) {
                this.pageNum = val;
                this.queryPage();
            },

            /*加载当前用户*/
            initUserSelectedVos() {
                request({
                    method: "get",
                    url: "http://localhost:9010/api/user/findUsersByRole",
                    params: {
                        roleId: this.roleId
                    }
                }).then(resp =>{
                    let result = resp.data;
                    if(result.code === 200) {
                       this.userSelectedVos = result.data;
                    }else {
                        this.$message({
                            message: resp.data.message,
                            type: "error"
                        });
                    }
                }).catch(data => {
                    console.log(data);
                })
            }
        },
        created() {
            this.queryPage();
            this.initUserSelectedVos();
        }
    });


</script>