<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>夕阳红智慧养老</title>
    <meta name="description" content="夕阳红智慧养老">
    <meta name="keywords" content="夕阳红智慧养老">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/request.js"></script>
    <style type="text/css">
        .el-main {
            top: 70px;
            bottom: 0px;
            left: 200px;
            right: 10px;
            padding: 0;
        }

        iframe {
            position: absolute;
        }
    </style>

    <!--走马灯的css-->
    <style>
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 150px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
        }
    </style>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div id="app">
    <!--顶层布局容器-->
    <el-container height="100%">
        <!--头部布局容器-->
        <el-header class="main-header" style="height:70px;">

            <!--导航栏标签-->
            <nav class="navbar navbar-static-top" :class=''>
                <!-- Logo -->
                <a href="#" class="logo" style="text-align:center">
                        <span class="logo-lg">
                            <img src="../img/older.png" height="70px">
                        </span>
                </a>
                <!--导航栏右侧菜单-->
                <div class="right-menu">
                    <!--下拉菜单-->
                    <el-dropdown class="avatar-container right-menu-item" trigger="click">
                        <!--头像-->
                        <div class="avatar-wrapper">
                            <img src="../img/user1-128x128.jpg" style="width: 45px;height: 45px;" class="user-avatar">
                            欢迎：{{this.loginUser.username}}
                        </div>
                        <!--下拉菜单-->
                        <el-dropdown-menu slot="dropdown">
                            <!--下拉菜单项-->
                            <el-dropdown-item divided>
                                    <span style="display:block;">
                                        <a href="#" @click="showDia">修改密码</a>
                                    </span>
                            </el-dropdown-item>
                            <el-dropdown-item divided>
                                            <span style="display:block;">
                                                <!--触发函数的名字有可能冲突导致不触发-->
                                                <a href="#" @click="logoutUser">退出</a>
                                            </span>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
        </el-header>
        <!--左侧菜单-->
        <el-aside width="200px">
            <el-menu>
                <!--
                    一个el-submenu相当于一个二级菜单
                    v-for：vue里面的循环指令，相当于java里面的增强for循环
                -->
                <template v-for="menu in menuList">
                    <!-- 如果子菜单为空，则使用 el-menu-item 和 a 标签 -->
                    <template v-if="!menu.children || menu.children.length === 0">
                        <el-menu-item :index="menu.path">
                            <span>
                                <i class="fa" :class="menu.icon"></i>
                                <a :href="menu.linkUrl" target="right">{{ menu.title }}</a>
                            </span>
                        </el-menu-item>
                    </template>
                    <!-- 如果有子菜单，则使用 el-submenu -->
                    <template v-else>
                        <el-submenu :index="menu.path">
                            <template slot="title">
                                <i class="fa" :class="menu.icon"></i>
                                {{ menu.title }}
                            </template>
                            <!--<el-menu-item v-for="child in menu.children" :index="child.path" :key="child.id">-->
                            <div v-for="child in menu.children" :index="child.path" :key="child.id">
                                <template v-if="!child.children || child.children.length === 0">
                                    <el-menu-item :index="child.path">
                                        <a :href="child.linkUrl" target="right">{{ child.title }}</a>
                                    </el-menu-item>
                                </template>
                                <template v-else>
                                    <el-submenu :index="child.path">
                                        <template slot="title">
                                            {{ child.title }}
                                        </template>
                                        <el-menu-item v-for="subChild in child.children" :index="subChild.path" :key="subChild.id">
                                            <a :href="subChild.linkUrl" target="right">{{ subChild.title }}</a>
                                        </el-menu-item>
                                    </el-submenu>
                                </template>
                                <!--<a :href="child.linkUrl" target="right">{{ child.title }}</a>-->
                            </div>
                        </el-submenu>
                    </template>
                </template>
            </el-menu>
        </el-aside>
        <!--右侧主区域-->
        <el-main>
            <iframe name="right" class="el-main" width="87%" height="650px"
                    frameborder="0">
            </iframe>
        </el-main>
    </el-container>

    <el-dialog title="修改密码"
               :visible.sync="dialogFormVisible"
               :before-close="closeDialog"
               >
        <el-form :model="user">
            <el-form-item label="账号" label-width="120px">
                <el-input v-model="user.username" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="姓名" label-width="120px" prop="pwd">
                <el-input v-model="user.pwd" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" label-width="120px" prop="pwdNew">
                <el-input v-model="user.pwdNew" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <el-button @click="closeDialog">取 消</el-button>
        <el-button type="primary" @click="updatePsw">确 定</el-button>
    </el-dialog>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {

            /*菜单列表数据模型*/
            menuList: [],
            /*登录用户的详细信息*/
            loginUser: {
                username:"",
                roleId:""
            },
            dialogFormVisible:false,

            user:{
                username:"",
                pwd:"",
                pwdNew:""
            }
        },
        methods: {

            /*根据当前用户名获取对应的菜单集合*/
            queryMenu() {
                //使用封装的axios发送信息
                request({
                    method: "get",
                    url: "http://localhost:9010/api/menu/list"
                }).then(resp => {
                    this.menuList = resp.data.data;
                    // console.log("获取到的菜单列表: ", this.menuList)
                })
            },
            /*登出*/
            logoutUser() {
                //登出时清空服务器端的jwt 和 localStorage中的 token
                request({
                    method:"delete",
                    url:"http://localhost:9010/api/user/logOut"
                }).then(resp =>{
                    let result = resp.data;
                    if(result.code == 200) {
                        this.$message({
                            message:result.message,
                            type:"success"
                        });
                        localStorage.removeItem("token");
                        /*在 window.location.href = "url.html" 中，相对路径 "url.html" 是相对于当前页面的路径。
                        具体而言，它将在当前页面的 URL 基础上进行解析*/
                        location.href = "../index.html";

                    }else{
                        this.$message({
                            message: result.message,
                            type:"error"
                        })
                    }

                }).catch(data =>{
                    console.log(data)
                })
            },

            /*登录成功以后从token中获取payload中的不敏感信息*/
            userInfo() {
                const token = localStorage.getItem("token");
                //获取token的payload，并进行Base64解码， atob为JS内置的解码函数,但只能处理ASCII编码字符，存在中文则还需转换
                let string = token.split(".")[1];
                console.log(string);
                //拿到负载的那段 进行window.atob方法的 base64的解算，然后再用decodeURIComponent字符串解码方法 解析出字符串 然后再转成JSON对象
                //由于atob()方法解码无法对中文解析 所以要再用escape()方法对其重新编码 然后再用decodeURI解码方式解析出来
                let payload = JSON.parse(decodeURIComponent(escape(window.atob(string.replace(/-/g, "+").replace(/_/g, "/")))));

                //根据JWT中payload的name键名获取其对应的value值
                this.loginUser.username = payload.username;
                this.loginUser.roleId = payload.roleId;
            },

            closeDialog() {
                this.user = {}
                this.dialogFormVisible = false;
            },

            /*显示弹窗*/
            showDia() {
                this.user.username = this.loginUser.username;
                this.dialogFormVisible = true;
            },

            /*修改密码*/
            updatePsw() {
                request({
                    method:"put",
                    url:"/operator"
                })
            }

        },
        created() {
            this.queryMenu();
            this.userInfo();
        }
    });
</script>
</html>
