<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手机卡管理</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/a3common.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/font_43459_lbtux0zjkr6yldi.css">
    <script src="/js/vue.js"></script>
    <script src="/js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="/plugins/elementui/index.css">
    <script src="/plugins/elementui/index.js"></script>
    <!--导入axios二次封装的工具-->
    <script src="/js/request.js"></script>
</head>
<body>
<div id="app">
    <p></p>
    <!--头部条件查询表单-->
    <el-form :inline="true" :model="queryDto" align="center" class="demo-form-inline">
        <el-form-item>
            <el-button type="primary" style="background-color: red; width: 100px" icon="el-icon-delete"
                       @click="deleteMobiles">注销所选
            </el-button>
        </el-form-item>
        <el-form-item label="手机号">
            <el-input v-model="queryDto.mobileNumber" placeholder="请输入号码"></el-input>
        </el-form-item>
        <el-form-item label="状态">
            <el-select v-model="queryDto.isAvailable" clearable placeholder="请选择">
                <!--:value 绑定的是数字 value="" 则是字符串-->
                <el-option label="可用" value="Y"></el-option>
                <el-option label="禁用" value="N"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="类型">
            <el-select v-model="queryDto.mobileType" clearable placeholder="请选择">
                <!--:value 绑定的是数字 value="" 则是字符串-->
                <el-option label="SIM" value="SIM"></el-option>
                <el-option label="UIM" value="UIM"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="queryPage">查询</el-button>
            <el-button type="primary" @click="showAddDialog">批量增添卡号</el-button>
        </el-form-item>
    </el-form>
    <!--表格内容-->
    <el-table
            ref="multipleTable"
            border
            :data="mobiles"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange">
        <!--多选框-->
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column
                prop="mobileNumber"
                label="手机号"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="mobileType"
                label="类型"
                show-overflow-tooltip>
            <!--通过<template slot-scope="scope"> 获取单元格中的数据-->
            <template slot-scope="scope">
                <span v-if="scope.row.mobileType === 'SIM'">SIM</span>
                <span v-if="scope.row.mobileType === 'UIM'">UIM</span>
            </template>
        </el-table-column>
        <el-table-column
                prop="cardNumber"
                label="卡编号"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="isAvailable"
                label="可用状态"
                show-overflow-tooltip>
            <!--通过<template slot-scope="scope"> 获取单元格中的数据-->
            <template slot-scope="scope">
                <span v-if="scope.row.isAvailable === 'Y'">可用</span>
                <span v-if="scope.row.isAvailable === 'N'">占用</span>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-switch
                        v-model="scope.row.isAvailable"
                        active-color="#13ce66"
                        inactive-color="#ff4949"
                        active-value="Y"
                        inactive-value="N"
                        @change="updateStatus(scope.row)">
                </el-switch>
                <!--<el-button
                        size="mini"
                        @click="showUpdateDialog(scope.$index, scope.row)">编辑
                </el-button>-->
                <el-button
                        size="mini"
                        type="danger"
                        @click="deleteById(scope.row)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--用于添加或者修改的dialog框-->
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
        <el-form :model="mobileDto">
            <el-form-item label="起始卡号" label-width="120px">
                <el-input v-model="mobileDto.startNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="结尾卡号" label-width="120px">
                <el-input v-model="mobileDto.endNum" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="类型" label-width="120px">
                <el-select v-model="mobileDto.mobileType" placeholder="请分配角色">
                    <el-option label="SIM" value="SIM"></el-option>
                    <el-option label="UIM" value="UIM"></el-option>
                </el-select>
            </el-form-item>
            <!--<el-form-item label="备注" label-width="120px">
                <el-input type="textarea" v-model="car.remarks" autocomplete="off"></el-input>
            </el-form-item>-->
        </el-form>
        <el-button type="primary" @click="inExcel">Excel导入</el-button>
        <el-button @click="closeDialog">取 消</el-button>
        <el-button type="primary" @click="addMobiles">确 定</el-button>
    </el-dialog>

    <!--分页插件-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[3, 5, 10, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total" style="text-align: center">
    </el-pagination>
</div>
</body>
</html>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                statusY:"",

                /*用于控制dialog框要不要显示*/
                dialogFormVisible: false,

                /*修改、添加弹窗标题*/
                dialogTitle: "default",

                /*条件查询数据模型*/
                queryDto: {},

                /*用于接收分页查询出来的集合*/
                mobiles: [],

                /*用于接收批量删除选中的行数据*/
                isSelectedRows: [],

                /*定义一个专门用于存放需要删除的行的id的集合*/
                isSelectedRowIds: [],

                mobile:{
                    mobileNumber:"",
                    mobileType:"",
                    cardNumber:"",
                    isAvailable:""
                },
                /*用于添加等操作的单个数据模型*/
                mobileDto: {
                    mobileType:"",
                    startNum:"",
                    endNum:""
                },

                /*当前的页面*/
                pageNum: 1,
                /*当前的页面大小*/
                pageSize: 3,
                /*总记录数*/
                total: 0,

            }
        },
        methods: {
            /*多条件分页查询*/
            queryPage() {
                request({
                    method: 'post',
                    url: '/mobiles/page',
                    params: {
                        pageNum: this.pageNum,
                        pageSize: this.pageSize
                    },
                    data: this.queryDto
                }).then(resp => {
                    let result = resp.data;
                    if (result.code === 200) {
                        this.mobiles = result.data.data;
                        this.total = result.data.total;
                    }
                }).catch(data => {
                    console.log('请求错误：', data)
                })
            },

            /*弹出添加的dialog框*/
            showAddDialog() {
                this.dialogTitle = "添加卡号";
                this.dialogFormVisible = true;
            },


            /*关闭添加或者修改的dialog框 清空表单数据*/
            closeDialog() {
                this.dialogFormVisible = false;
                this.dialogTitle = "";
                this.mobileDto = {};
            },

            /*单个删除*/
            deleteById(row) {
                if(row.isAvailable === "Y") {
                    this.$message({
                        message:"当前卡号可用无法删除",
                        type:"warning"
                    });
                    return;
                }
                let id = row.mobileNumber;
                request({
                    method:"delete",
                    url:"/mobiles/" + id,
                }).then(resp=>{
                    if(resp.data.code === 200) {
                        this.$message({
                            message: resp.data.message,
                            type:"success"
                        });
                        this.queryPage();
                    }else{
                        this.$message({
                            message:resp.data.message,
                            type:"error"
                        });
                    }
                }).catch(data=>{
                    console.log(data);
                })
            },

            /*获取所选行对象*/
            handleSelectionChange(vars) {
                this.isSelectedRows = vars;
            },

            /*批量删除*/
            deleteMobiles() {
                /*this.isSelectedRowIds = this.isSelectedRows.map(row => row.id);*/
                this.isSelectedRows.filter(row => row.isAvailable === "N")
                    .forEach(row => this.isSelectedRowIds.push(row.mobileNumber));
                /*this.isSelectedRows.forEach(row =>{
                    this.isSelectedRowIds.push(row.mobileNumber);
                });*/
                request({
                    method:"delete",
                    url:"/mobiles/select",
                    data:this.isSelectedRowIds
                }).then(resp=>{
                    if(resp.data.code === 200) {
                        this.$message({
                            message:resp.data.message,
                            type:"success"
                        });
                        this.queryPage();
                    }else{
                        this.$message({
                            message:resp.data.message,
                            type:"error"
                        });
                    }
                }).catch(data=>{
                    console.log(data);
                })
            },

            /*修改手机卡状态*/
            updateStatus(row) {
                this.statusY = row.isAvailable;
                let status = row.isAvailable;
                request({
                    method:"put",
                    url:"/mobiles/status",
                    params:{
                        status:status,
                        numberId:row.mobileNumber
                    }
                }).then(resp =>{
                    if(resp.data.code === 200) {
                        this.$message({
                            message:resp.data.message,
                            type:"success"
                        });
                    }else {
                        this.$message({
                            message:resp.data.message,
                            type:"error"
                        });
                    }
                }).catch(data =>{
                    console.log(data);
                })
            },

            /*添加卡号*/
            addMobiles() {
                if(this.dialogTitle === "添加卡号") {
                    request({
                        method: "post",
                        url: "/mobiles/batch",
                        data: this.mobileDto
                    }).then(resp => {
                        let result = resp.data;
                        if (result.code === 200) {
                            this.$message({
                                message: result.message,
                                type: "success"
                            });

                            this.queryPage();
                        }else{
                            this.$message({
                                message:result.message,
                                type:"error"
                            })
                        }
                        this.closeDialog();
                    }).catch(data => {
                        console.log(data);
                    })
                }
            },

            /*从Excel导入*/
            inExcel(){},

            /*页面大小发生改变触发该方法*/
            handleSizeChange(val) {
                this.pageSize = val;
                this.queryPage();
            },

            /*当前的页码发生改变触发该方法*/
            handleCurrentChange(val) {
                this.pageNum = val;
                this.queryPage();
            }
        },
        created() {
            this.queryPage();

        }
    });


</script>