<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>操作员管理</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/a3common.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/font_43459_lbtux0zjkr6yldi.css">
    <script src="../js/vue.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <script src="../plugins/elementui/index.js"></script>
    <!--导入axios二次封装的工具-->
    <script src="../js/request.js"></script>
</head>
<body>
<div id="app">
    <p></p>
    <!--头部条件查询表单-->
    <el-form :inline="true" :model="queryDto" align="center" class="demo-form-inline">
        <el-form-item>
            <el-button type="primary" style="background-color: red; width: 100px" icon="el-icon-delete"
                       @click="deleteOperators">删除所选
            </el-button>
        </el-form-item>
        <el-form-item label="姓名">
            <el-input v-model="queryDto.operatorName" placeholder="请输入姓名关键字"></el-input>
        </el-form-item>
        <el-form-item label="角色">
            <el-select v-model="queryDto.isAdmin" clearable placeholder="请选择角色">
                <!--:value 绑定的是数字 value="" 则是字符串-->
                <el-option label="管理员" value="Y"></el-option>
                <el-option label="操作员" value="N"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="queryPageOperator">查询</el-button>
            <el-button type="primary" @click="showAddDialog">增添操作员</el-button>
        </el-form-item>
    </el-form>
    <!--表格内容-->
    <el-table
            ref="multipleTable"
            border
            :data="operators"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="handleSelectionChange">
        <!--多选框-->
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>
        <el-table-column
                prop="operatorId"
                label="账号"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="operatorName"
                label="姓名"
                show-overflow-tooltip>
        </el-table-column>
        <el-table-column
                prop="isAdmin"
                label="角色"
                show-overflow-tooltip>
            <!--通过<template slot-scope="scope"> 获取单元格中的数据-->
            <template slot-scope="scope">
                <span v-if="scope.row.isAdmin === 'Y'">管理员</span>
                <span v-if="scope.row.isAdmin === 'N'">操作员</span>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="showUpdateDialog(scope.$index, scope.row)">编辑
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="deleteById(scope.row.operatorId)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--用于添加或者修改的dialog框-->
    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" :before-close="closeDialog">
        <el-form :model="operator">
            <!--<el-form-item label="车辆类型" label-width="120px">
                &lt;!&ndash;不是carTypeId？&ndash;&gt;
                <el-select v-model="car.carTypeId" placeholder="请选择">
                    <el-option
                            v-for="carType in carTypeSelectedVos"
                            :key="carType.id"
                            :label="carType.typeName"
                            :value="carType.id">
                    </el-option>
                </el-select>
            </el-form-item>-->
            <el-form-item label="账号" label-width="120px">
                <el-input v-model="operator.operatorId" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="姓名" label-width="120px">
                <el-input v-model="operator.operatorName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" label-width="120px">
                <el-input v-model="operator.operatorPwd" autocomplete="off" :disabled="pwdInput"></el-input>
            </el-form-item>
            <!--<el-form-item label="上牌日期" label-width="120px">
                <el-date-picker
                        v-model="car.dateRegistration"
                        type="date"
                        value-format="yyyy-MM-dd"
                        placeholder="选择日期">
                </el-date-picker>
            </el-form-item>-->
            <el-form-item label="角色" label-width="120px">
                <el-select v-model="operator.isAdmin" placeholder="请分配角色">
                    <el-option label="管理员" value="Y"></el-option>
                    <el-option label="操作员" value="N"></el-option>
                </el-select>
            </el-form-item>
            <!--<el-form-item label="备注" label-width="120px">
                <el-input type="textarea" v-model="car.remarks" autocomplete="off"></el-input>
            </el-form-item>-->
        </el-form>
        <el-button type="primary" @click="resetPwd">重置密码</el-button>
        <el-button @click="closeDialog">取 消</el-button>
        <el-button type="primary" @click="addOrUpdate">确 定</el-button>
    </el-dialog>

    <!--分页插件-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[3, 5, 10, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total" style="text-align: center">
    </el-pagination>
</div>
</body>
</html>
<script>
    new Vue({
        el: "#app",
        data() {
            return {

                /*弹窗的密码框是否禁用*/
                pwdInput:true,

                /*用于控制dialog框要不要显示*/
                dialogFormVisible: false,

                /*修改、添加弹窗标题*/
                dialogTitle: "default",

                /*条件查询数据模型*/
                queryDto: {},

                /*用于接收分页查询出来的车辆集合*/
                operators: [],

                /*用于接收批量删除选中的行数据*/
                isSelectedRows: [],

                /*定义一个专门用于存放需要删除的行的id的集合*/
                isSelectedRowIds: [],

                /*用于添加、修改、查看单个车辆的数据模型*/
                operator: {
                    operatorId: "",
                    operatorName:"",
                    operatorPwd:"",
                    isAdmin:""
                },

                /*当前的页面*/
                pageNum: 1,
                /*当前的页面大小*/
                pageSize: 3,
                /*总记录数*/
                total: 0,

                carTypeSelectedVos: [] //车辆类型下拉列表数据模型
            }
        },
        methods: {
            /*多条件分页查询*/
            queryPageOperator() {
                request({
                    method: 'post',
                    url: '/operator/page',
                    params: {
                        pageNum: this.pageNum,
                        pageSize: this.pageSize
                    },
                    data: this.queryDto
                }).then(resp => {
                    let result = resp.data;
                    if (result.code === 200) {
                        this.operators = result.data.data;
                        this.total = result.data.total;
                    }
                }).catch(data => {
                    console.log('请求错误：', data)
                })
            },

            /*弹出添加车辆的dialog框*/
            showAddDialog() {
                this.pwdInput = false;
                this.dialogTitle = "添加信息";
                this.dialogFormVisible = true;
            },

            /*显示编辑dialog框的方法*/
            showUpdateDialog(index, row) {
                this.dialogTitle = "修改信息";
                this.dialogFormVisible = true;
                this.operator = JSON.parse(JSON.stringify(row));
            },

            /*关闭添加或者修改的dialog框 清空表单数据*/
            closeDialog() {
                this.dialogFormVisible = false;
                this.dialogTitle = "";
                this.operator = {};
                this.pwdInput = true;
            },

            /*单个查询*/
            queryCarById(id) {
                /*    request({
                        method: 'get',
                        url: '/car/' + id
                    }).then(data => {
                        this.car = data.data.data;
                        //以后遇到对象里面有对象类型的属性的时候统一判断改对象的对象类型属性是否为null，如果是的话设置为{}
                        if(this.car.carType == null) {
                            /!**
                             * this.$set(给谁设置属性或者元素，属性名或者数组下标，设置的数据);
                             *!/
                            //给对象设置
                            this.$set(this.car, 'carType', {});
                            //如果是数组的话第二个参数就写数组下标
                        }
                        console.log('查询。。。。', this.car);
                    })*/
            },

            /*单个删除*/
            deleteById(id) {
                request({
                    method:"delete",
                    url:"/operator/" + id,
                }).then(resp=>{
                    if(resp.data.code === 200) {
                        this.$message({
                            message: resp.data.message,
                            type:"success"
                        });
                        this.queryPageOperator();
                    }else{
                        this.$message({
                            message:resp.data.message,
                            type:"error"
                        });
                    }
                }).catch(data=>{
                    console.log(data);
                })
            },

            /*获取所选行对象*/
            handleSelectionChange(vars) {
                this.isSelectedRows = vars;
            },

            /*批量删除*/
            deleteOperators() {
                /*this.isSelectedRowIds = this.isSelectedRows.map(row => row.id);*/
                this.isSelectedRows.forEach(row =>{
                    this.isSelectedRowIds.push(row.operatorId);
                });
                request({
                    method:"delete",
                    url:"/operator/select",
                    data:this.isSelectedRowIds
                }).then(resp=>{
                    if(resp.data.code === 200) {
                        this.$message({
                            message:resp.data.message,
                            type:"success"
                        });
                        this.queryPageOperator();
                    }else{
                        this.$message({
                            message:resp.data.message,
                            type:"error"
                        });
                    }
                }).catch(data=>{
                    console.log(data);
                })
            },

            resetPwd() {
                this.operator.operatorPwd = "123456";
            },


            /*添加或者修改的方法*/
            addOrUpdate() {
                if (this.dialogTitle === "修改信息") {
                    request({
                        method:"put",
                        url:"/operator",
                        data:this.operator
                    }).then(resp=>{
                        if(resp.data.code === 200) {
                            this.$message({
                                message: resp.data.message,
                                type:"success"
                            });
                            this.queryPageOperator();
                        }else{
                            this.$message({
                                message:resp.data.message,
                                type:"error"
                            });
                        }
                        this.closeDialog();
                    }).catch(data=>{
                        console.log(data);
                    })
                } else {
                    request({
                        method: "post",
                        url: "/operator",
                        data: this.operator
                    }).then(resp => {
                        let result = resp.data;
                        if (result.code === 200) {
                            this.$message({
                                message: result.message,
                                type: "success"
                            });

                            this.queryPageOperator();
                        }else{
                            this.$message({
                                message:result.message,
                                type:"error"
                            })
                        }
                        this.closeDialog();
                    }).catch(data => {
                        console.log(data);
                    })
                }
            },

            /*页面大小发生改变触发该方法*/
            handleSizeChange(val) {
                this.pageSize = val;
                this.queryPageOperator();
            },

            /*当前的页码发生改变触发该方法*/
            handleCurrentChange(val) {
                this.pageNum = val;
                this.queryPageOperator();
            }
        },
        created() {
            this.queryPageOperator();

        }
    });


</script>